# Stage 2: Pre-processing to remove noise from Tweets

In [6]:
import pandas as pd

In [3]:
raw_Tweets=pd.read_csv('Dissertation/data/Tweets.csv')

In [4]:
rawTwit=raw_Tweets.copy()

In [5]:
rawTwit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82126 entries, 0 to 82125
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   _id                       82126 non-null  object
 1   created_at                82126 non-null  object
 2   id                        82126 non-null  int64
 3   text                      82126 non-null  object
 4   source                    82126 non-null  object
 5   truncated                 82126 non-null  bool
 6   user.screen_name          82126 non-null  object
 7   user.location             49283 non-null  object
 8   user.description          64254 non-null  object
 9   extended_tweet.full_text  12664 non-null  object
dtypes: bool(1), int64(1), object(8)
memory usage: 5.7+ MB

In [8]:
rawTwit.head(2)

,_id,created_at,id,text,source,truncated,user.screen_name,user.location,user.description,extended_tweet.full_text
0,62c025362199f17ae64a6e30,Sat Jul 02 11:00:00 +0000 2022,1543187731546644482,The insurance industry has an opportunity to d...,"<a href=""https://about.twitter.com/products/tw...",True,InsuranceTimes_,"London, UK","The best insurance news, analysis, research & ...",The insurance industry has an opportunity to d...
1,62c025362199f17ae64a6e2f,Sat Jul 02 11:00:00 +0000 2022,1543187731546644482,The insurance industry has an opportunity to d...,"<a href=""https://about.twitter.com/products/tw...",True,InsuranceTimes_,"London, UK","The best insurance news, analysis, research & ...",The insurance industry has an opportunity to d...

In [10]:
rawTwit.loc[rawTwit['truncated']==True,'text']=rawTwit['extended_tweet.full_text']

## Showing truncated Tweets are now updated with full Tweets text from extended tweet column

In [13]:
raw_Tweets['text'][0]

'The insurance industry has an opportunity to develop ’affirmative physical damage offerings’… https://t.co/F6mZPT4dJI'

In [14]:
rawTwit['text'][0]

'The insurance industry has an opportunity to develop ’affirmative physical damage offerings’\nhttps://t.co/keH0CIswZV\n@LloydsofLondon\n #Cambridgecentreofriskstudies\n#RussiaUkraine #Cyber #Risk #GeopoliticalRisk'

## Drropping columns not needed for the analysis

In [16]:
rawTwit.drop(['truncated','extended_tweet.full_text','id','source','user.screen_name','user.description'], axis = 1, inplace = True)

In [48]:
rawTwit.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82126 entries, 0 to 82125
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TweetsID       82126 non-null  object
 1   Date           82126 non-null  object
 2   TweetsText     82126 non-null  object
 3   User_Location  49283 non-null  object
dtypes: object(4)
memory usage: 2.5+ MB

## Renaming Tweet Column to human friendly name

In [36]:
rawTwit.rename(columns={'_id': 'TweetsID', 'text': 'TweetsText','user.location':'User_Location','created_at':'Date'}, inplace=True)

In [51]:
rawTwit.head(2)

,TweetsID,Date,TweetsText,User_Location
0,62c025362199f17ae64a6e30,Sat Jul 02 11:00:00 +0000 2022,The insurance industry has an opportunity to d...,"London, UK"
1,62c025362199f17ae64a6e2f,Sat Jul 02 11:00:00 +0000 2022,The insurance industry has an opportunity to d...,"London, UK"

In [39]:
rawTwit.to_csv('processedTwit.csv', index = False) #Saving distinct Tweets to CSV File

## Loading processed tweets to Dataframe

In [42]:
Tweets=get_tweet_content()

In [43]:
Tweets[0]

{'TweetsID': '62c025362199f17ae64a6e30',
 'RawTweets': 'The insurance industry has an opportunity to develop ’affirmative physical damage offerings’\nhttps://t.co/keH0CIswZV\n@LloydsofLondon\n #Cambridgecentreofriskstudies\n#RussiaUkraine #Cyber #Risk #GeopoliticalRisk',
 'Cleaned_Tweets': 'the insurance industry has an opportunity to develop affirmative physical damage offerings URL user_mention cambridgecentreofriskstudies russiaukraine cyber risk geopoliticalrisk ',
 'User_Location': 'London, UK',
 'Date': 'Sat Jul 02 11:00:00 +0000 2022'}

In [44]:
Tweets_dataFrame=pd.DataFrame(Tweets)

In [45]:
processing_data=Tweets_dataFrame.copy()

In [53]:
processing_data.info() #Cleaned Tweet after removing Re-Tweets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17261 entries, 0 to 17260
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TweetsID        17261 non-null  object
 1   RawTweets       17261 non-null  object
 2   Cleaned_Tweets  17261 non-null  object
 3   User_Location   17261 non-null  object
 4   Date            17261 non-null  object
dtypes: object(5)
memory usage: 674.4+ KB

## Checking for duplicate tweets

In [55]:
processing_data[processing_data.duplicated(['TweetsID'], keep='first')]

Empty DataFrame
Columns: [TweetsID, RawTweets, Cleaned_Tweets, User_Location, Date]
Index: []

In [56]:
processing_data[processing_data.duplicated(['Cleaned_Tweets'], keep='first')]

,TweetsID,RawTweets,Cleaned_Tweets,User_Location,Date
1,62c025362199f17ae64a6e2f,The insurance industry has an opportunity to d...,the insurance industry has an opportunity to d...,"London, UK",Sat Jul 02 11:00:00 +0000 2022
3,62c02a912199f17ae64a6e3a,A good perspective on the #Russia fake narrati...,a good perspective on the russia fake narrativ...,Worldwide,Sat Jul 02 11:22:52 +0000 2022
5,62c02a9e2199f17ae64a6e3c,@MU53701477 @abipittbull @Renehaehnlein @Ljudm...,user_mention user_mention user_mention user_me...,,Sat Jul 02 11:23:05 +0000 2022
7,62c02ad82199f17ae64a6e3e,Latest Russia-Ukraine War: Live Updates https:...,latest russiaukraine war live updates URL late...,,Sat Jul 02 11:24:03 +0000 2022
10,62c031265dcb23acdffbcf2f,@EU_Commission @vonderleyen @ua_parliament Tod...,user_mention user_mention user_mention today t...,,Sat Jul 02 11:50:57 +0000 2022
...,...,...,...,...,...
17175,62c75cb51ca034c21686f3b7,The US and Russia mark Pearl Harbor and Hitler...,the us and russia mark pearl harbor and hitler...,Netherlands,Thu Jul 07 22:22:40 +0000 2022
17191,62c75e611ca034c21686f411,Jacinda Ardern warns West against isolating Ch...,jacinda ardern warns west against isolating ch...,Australia,Thu Jul 07 22:29:48 +0000 2022
17204,62c75f9e1ca034c21686f452,Russia's Ukraine invasion is slowly approachin...,russias ukraine invasion is slowly approaching...,"ÜT: 40.74037,-74.046637",Thu Jul 07 22:35:05 +0000 2022
17222,62c761f11ca034c21686f4c9,#EnergyNewsMonitor | #China’s #coal imports su...,energynewsmonitor chinas coal imports surged ...,"Nariman Point, Mumbai, India",Thu Jul 07 22:45:00 +0000 2022
17231,62c762b31ca034c21686f4fe,Putin says his Ukraine operation has hardly ev...,putin says his ukraine operation has hardly ev...,,Thu Jul 07 22:48:14 +0000 2022

In [57]:
processing_data=processing_data.drop_duplicates(subset=['Cleaned_Tweets'],keep='first') #Removing by TweetsText Column

In [58]:
processing_data[processing_data.duplicated(['Cleaned_Tweets'], keep='first')] #Re-checking to confirm duplicate tweet is removed.

Empty DataFrame
Columns: [TweetsID, RawTweets, Cleaned_Tweets, User_Location, Date]
Index: []

In [64]:
#processing_data.head(2)

In [60]:
processing_data.info() #Distincts Tweets is 8950. 8311 duplicates have beennremoved

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8950 entries, 0 to 17260
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TweetsID        8950 non-null   object
 1   RawTweets       8950 non-null   object
 2   Cleaned_Tweets  8950 non-null   object
 3   User_Location   8950 non-null   object
 4   Date            8950 non-null   object
dtypes: object(5)
memory usage: 419.5+ KB

In [61]:
processing_data.to_csv('Cleaned.csv', index = False) #Saving distinct cleaned Tweets to CSV File

## Coresponding function for above analysis

In [25]:
def process_tweet(tweets):
    
    #for twit in tweets:      
    # Convert to lower case
    tweet= tweets.lower()
    # Replaces URLs with the word URL
    tweet = re.sub(r'((www\.[\S]+)|(https?://[\S]+))', ' URL ', tweet)
    # Replace @handle with the word USER_MENTION
    tweet = re.sub(r'@[\S]+', 'user_mention', tweet)
    # Replaces #hashtag with hashtag
    tweet = re.sub(r'#(\S+)', r' \1 ', tweet)
    # Remove RT (retweet)
    tweet = re.sub(r'\brt\b', 'RT', tweet)
    # Replace 2+ dots with space
    tweet = re.sub(r'\.{2,}', ' ', tweet)
    # Strip space, " and ' from tweet
    tweet = re.sub(r'[^\w\s]','',tweet)
    # Replace emojis with either EMO_POS or EMO_NEG
    tweet = handle_emojis(tweet)
    # Replace multiple spaces with a single space
    tweet = re.sub(r'\s+', ' ', tweet)
    #tweet=[char for char in tweet if char not in string.punctuation]
    words = ''.join(tweet)
    tweet = words
    return tweet

In [26]:
def handle_emojis(tweet):
    # Smile -- :), : ), :-), (:, ( :, (-:, :')
    tweet = re.sub(r'(:\s?\)|:-\)|\(\s?:|\(-:|:\'\))', ' EMO_POS ', tweet)
    # Laugh -- :D, : D, :-D, xD, x-D, XD, X-D
    tweet = re.sub(r'(:\s?D|:-D|x-?D|X-?D)', ' EMO_POS ', tweet)
    # Love -- <3, :*
    tweet = re.sub(r'(<3|:\*)', ' EMO_POS ', tweet)
    # Wink -- ;-), ;), ;-D, ;D, (;,  (-;
    tweet = re.sub(r'(;-?\)|;-?D|\(-?;)', ' EMO_POS ', tweet)
    # Sad -- :-(, : (, :(, ):, )-:
    tweet = re.sub(r'(:\s?\(|:-\(|\)\s?:|\)-:)', ' EMO_NEG ', tweet)
    # Cry -- :,(, :'(, :"(
    tweet = re.sub(r'(:,\(|:\'\(|:"\()', ' EMO_NEG ', tweet)
    return tweet

In [41]:
import csv
import re
def get_tweet_content():
    #import csv    
    from datetime import datetime
    lex1=[]
    
    reader = csv.reader(open('processedTwit.csv', 'r',encoding="utf8"))
    csvreader = csv.reader(reader)
    next(reader)
    for line in reader:
        lex={}
        TweetsID,Time_Created,TweetsText,User_Location= line
        lex['TweetsID']=str(TweetsID)
        lex['RawTweets']=TweetsText
        lex['Cleaned_Tweets']=TweetsText
        lex['User_Location']=User_Location
        lex['Date']=Time_Created
        #lex['Short_Date']=S_Date
    # ignore retweets 
        #if (lex['User_Location']==''):        
            #lex['User_Location']='LOCATION'
        if lex['Cleaned_Tweets'].startswith('RT') or len(lex['Cleaned_Tweets']) < 1:
                pass 
        else:
            lex['Cleaned_Tweets']=process_tweet(TweetsText)
            lex['RawTweets']=TweetsText
            lex1.append(lex)
    
    return lex1

In [28]:
def plot_Raw_TweetsCount_ByDays():
    ts_date = raw_Tweets['S_Date']
    ts_date = ts_date.tolist()
    ts_date_dict = dict(Counter(ts_date))
    tsdata = pd.DataFrame({'date' : list(ts_date_dict.keys()), 'count_tweets' : list(ts_date_dict.values())})
    tsdata = tsdata.sort_values('date')
    tsdata = tsdata.set_index('date')
    a4_dims = (11.7, 8.27)
    fig, ax = plt.subplots(figsize=a4_dims)
    ax.set_xticklabels(tsdata.index, rotation=90)
    fig.suptitle('Raw Tweets:\nNumber of Tweets Per Day', fontsize=20)
    plt.xlabel('Period of Data Collection', fontsize=18)
    plt.ylabel('Frequency', fontsize=16)
    plt.plot(tsdata)
    fig.savefig('Cleaned Tweets:\nNumber of Tweets Per Day.jpg')

In [29]:
def plot_Cleaned_TweetsCount_ByDays():
    ts_date = processing_data['Short_Date']
    ts_date = ts_date.tolist()
    ts_date_dict = dict(Counter(ts_date))
    tsdata = pd.DataFrame({'date' : list(ts_date_dict.keys()), 'count_tweets' : list(ts_date_dict.values())})
    tsdata = tsdata.sort_values('date')
    tsdata = tsdata.set_index('date')
    a4_dims = (11.7, 8.27)
    fig, ax = plt.subplots(figsize=a4_dims)
    ax.set_xticklabels(tsdata.index, rotation=90)
    fig.suptitle('Cleaned Tweets:\nNumber of Tweets Per Day', fontsize=20)
    plt.xlabel('Period of Data Collection', fontsize=18)
    plt.ylabel('Frequency', fontsize=16)
    plt.plot(tsdata)
    fig.savefig('Number of Tweets Per Day.jpg')